#page-convert-binary form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

#page-convert-binary .textarea-block {
  display: flex;
  flex-direction: column;
  flex: 2;
}

#page-convert-binary .textarea-block + .textarea-block {
  margin-top: 0;
}

@media (min-width: 992px) {
  #page-convert-binary form {
    grid-template-columns: repeat(2, 1fr);
  }

  #page-convert-binary .textarea-block {
    margin: 0;
  }
}
