.page-header {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-header .top-bar-container {}

.page-header .header-content {
    position: relative;
    margin: 3.2rem auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header .header-content h1 {
    font: 700 3.6rem;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}