.page-header {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
  grid-gap: 0.8rem;
  padding-bottom: 1.5rem;
  background-color: var(--color-background);
}

.page-header .top-bar-container a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-in-primary);
  background-color: var(--color-primary);
}

.page-header .top-bar-container a:hover {
  text-decoration: underline;
}

.page-header .header-content {
  position: relative;
  margin: 1.6rem 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-header .header-content h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 1.2rem;
}
