:root {
  --color-background: #f0f0f7;
  --color-primary: #1f4a8f;
  --color-primary-lighter: #507dc7;
  --color-primary-light: #3a67b0;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #ffffff;
  --color-text-title: #333333;
  --color-text-complement: #cccccc;
  --color-text-base: #333333;
  --color-line-in-white: #e6e6f0;
  --color-input-background: #f8f8fc;
  --color-button-text: #f8f8fc;
  --color-box-base: #ffffff;
  --color-box-footer: #fafafc;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Ubuntu;
  color: var(--color-text-base);
}

.container {
  padding-top: 1rem;
  width: 90vw;
  max-width: 1140px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
